* {
  box-sizing: border-box;
  padding:0;
  margin: 0;
}
/* Body */
body {
  font-family: 'Poiret One', sans-serif;
}
.contain {
  text-align: center;
  width:70%;
  margin:auto;
}
.comment {
  font-family: 'Roboto' ,sans-serif;
  font-weight: 300;
  letter-spacing: .2em;
  line-height: 2em;
  color:white;
  font-size:16px;
  text-transform: uppercase;
  padding:1em 0;
}

/*  HEADER */
header {
}
header h1 {
  padding:.5em 1em;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
}
/* MAIN */
main {
  background: linear-gradient(to left,#bc4e9c,#f80759 );
  padding:2em 0 ;
}

/* CARD */
#main-card {
  width:70vw;
  margin: auto;
  border-radius: 4px;
  background-color:white;
  transition: .3s;
  overflow: hidden;
}
#main-card:hover {
  position:relative;
  transform: translateY(-2px);
  box-shadow: 0px 3px 10px rgba(0,0,0,.3);
}
/*header of the card*/
.header-card {
  padding:1em 0;
}
.logo {
  font-size:3rem;
  text-align: center;
  color:lightgray;
}
.logo i:nth-child(2){
  font-size:1.5rem;
  position:relative;
  bottom:.5em;
}

/* INPUT STYLING */
.input-contain {
  height:auto;
  padding:1em;
  text-align: center;
}
.task-form {
  height:3em;
}
.input {
  width:50%;
  font-size:1.3em;
  border: none;
  color:gray;
  padding:.3em .5em;
  border-bottom:1px solid gray;
}
.input:focus {
  outline: none;
  border-bottom:2px solid #f80759;
}
.search {
  height:3em;
}
/* CLEAR BUTTON*/
.clear-contain {
  padding:1em 0;
}
.clear-tasks {
  font-family: 'Roboto' ,sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  width:9em;
  padding:.5em;
  margin:auto;
  border-radius:5px;
  background-color: rgba(188, 78, 156, .8);
  color:white;
  cursor: pointer;
}
.clear-tasks:hover {
  background-color:#f80759;
}

/* LIST STYLING */
.taskList-contain {
  width:80%;
  height:auto;
  margin:auto;
}
#list{
  list-style: none;
  }
.list-item {
  font-size: 1.2em;
  padding:1em .5em;
  background-color: rgba(188, 78, 156, .2);
  position:relative;
  transform: translateX(-40em);
  animation-name: new-item;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes new-item {
  0% {
    transform: translateX(-40em);
  }
  100% {
    transform: translateX(0);
  }
}
.list-item:nth-child(even) {
  background-color: rgba(188, 78, 156, .4);
}
.second-content {
  position:relative;
  float:right;
  color:#f80759;
  transition:.5s;
}
.second-content:hover {
  transform: rotate(180deg);
}
