.form {
  width:80%;
  height:10em;
  margin:0 auto;
}
input {
  display:block !important;
  margin:0 auto;
  width:70%;
}
.list-container {
  box-sizing: border-box;
  width:60%;
  margin:0 auto;
  padding:1em;
}
.item {
  display:flex;
  justify-content: space-between;
}
.alert {
  width:50%;
  margin:0 auto;
  text-align:center;
  font-style: italic;
  text-transform: uppercase;
}
.error {
  color: #D8000C;
  background-color: #FFBABA;
}
.success {
  color: #270;
  background-color: #DFF2BF;
}
