* {
  padding:0;
  margin:0;
}
.container {
  width:80%;
  margin:0 auto;
}

/*** HEADER ***/
header {
  padding:1em 0;
  background-color: #8c14fc;
}
/* NAV */
nav a {
  color: #f1e7fe;
  font-size:1.2em;
  text-decoration: none;
}
nav a:hover {
  color: #f1e7fe;
}
/*** SECTION:container search-card ***/
.search-card {
  padding:1em 0 !important;
  display:flex;
  justify-content: center;
}
/* search card */
.card {
  width: max-content;
  text-align: center;
  border: 1px solid #bdc3c7;
  padding:2em;
}
.card p {
  color:#bdc3c7;
}
.form-control {
  width:100%;
}
/* Alert box : found or not found */
.profile_not_found {
  width: 100%;
  padding:.5em;
  text-align: center;
  border: 1px solid #ebcccc;
  background-color:#f2dede;
  color:#a94442;
}
.profile_found {
  width: 100%;
  padding:.5em;
  text-align: center;
  border: 1px solid #d0e9c6;
  background-color:#dff0d8;
  color:#3c763d;
}

/*** PROFILE ***/
#profile {
  display: flex;
  padding: 2em;
}
.left {
  border:2px solid lightgray;
  padding:1em 0;
}
.contain {
  width:80%;
  margin:0 auto;
}

.image-container {
  width: 75%;
  margin:0 auto;
}
.image-container img {
  width: 100%;
}
.bio p {
  text-align: left;
}
.view-profile-container {
  text-align: center;
  padding-bottom: .5em;
}
.view-profile-container button {
  border-color: crimson;
}
.tags {
  display:flex;
  box-sizing: border-box;
  justify-content: space-between;
  margin-bottom: 0;
}
.tags span {
  color:gray;
}
.right {
    border:2px solid lightgray;
}



/*** FOOTER ***/
#footer {
  margin-top:3em;
  border-top: 1px solid #bdc3c7;
  border-bottom: 1px solid #bdc3c7;
  text-align: center;
  padding:1em 0;
}
#footer h6 {
  color:#2e3131;
  margin-bottom:0;
}
